$primar-text-color: #000000;
$secondary-text-color: #FFFFFF;
$windows-background-primary-color: #FFFFFF;
$warring-feedback-message-text-color: #EE5353;

/*Header*/
$header-bar-background-color: #273760;
$profile-dropdown-usrname-text-color: #171818;
$profile-dropdown-status-text-color: #4B4B4E;
$mobile-menu-background-color: #506089;
$mobile-menu-username-text-color: #EEEEEE;
$mobile-menu-status-text-color: #ADADAD;
$header-hover-text-color: #C4C4C4;
$dropdown-window-border-color: #6E6B6B;
$dropdown-window-btn-primary-background-color: #FFFFFF;
$dropdown-window-btn-hover-color: #F2F4FF;
$dropdown-window-btn-primary-border-color: #DAD2D2;

/*Home Page Widget*/
$home-page-widget-primary-text-color: #171818;
$home-page-widget-primary-border-color: #E6E5E5;
$action-widget-hover-background-color: #e9eaec;

/*Table*/
$table-header-primary-background-color: #C4CBE2;
$table-body-primary-background-color: #F0F0F0;
$table-action-column-element-border-color: #B5B1B1;
$scrollbar-track-primary-color: #B5B1B1;
$scrollbar-thumb-primary-color: #9DA3D6;
$scrollbar-thumb-hover-color: #081691;
$table-pagging-btn-primary-background-color: #FFFFFF;
$table-pagging-btn-hover-background-color: #081C7D;
$table-pagging-btn-hover-text-color: #FFFFFF;
$table-pagging-btn-primary-border-color: #031947;
$table-windiw-primary-border-color: #E6E5E5;

/*Login*/
$login-label-primary-text-color: #67768B;
$login-input-background-color: #F7FAFC;
$login-primary-input-text-color: #4A5568;
$login-submit-btn-primary-backround-color: #53637A;
$login-submit-btn-hover-backround-hover-color:#28406b;
$login-submit-btn-primary-text-color: #F7FAFC;
$login-input-border-color: #CBD5E0;
$creditental-window-primary-border-color: #DAD5D5;

/*Contact Form*/
$contact-input-filed-primary-text-color: #030303;
$contianer-primary-border-color: #E6E5E5;
$contact-input-border-color: #273760;
$contact-error-input-border-color: #EE5353;
$contact-submit-btn-primary-background-color: #9CEB6C;
$contact-submit-btn-text-color: #373940;
$contact-submit-btn-hover-background-color: #63E125;
$contact-error-message-text-color: #EE5353;

/*Modal*/
$modal-shadow-background-color: #6B6B6B86;
$modal-window-border-color: #E0E0E0;
$modal-cancel-btn-primary-background-color: #ED918C;
$modal-cancel-btn-hover-color: #DD5D59;
$modal-info-segemnt-border-color: #A7A7A7;
$modal-info-segemnt-primary-text-color: #4C4C4E;
$modal-info-btn-primary-text-color: #FFFFFF;
$modal-edit-info-btn-primary-background-color: #085196;
$modal-edit-info-btn-hover-background-color: #052F57;
$modal-delete-info-btn-primary-background-color: #9C2614;
$modal-delete-info-btn-hover-background-color: #6D1406;