@use './../../colors';
@use './../../mixins';

.change-password-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    
    form{
      @include mixins.flexDispaly($flex-direction: column, $gap: 14px);
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: colors.$change-password-form-btn-primary-background-color;
      color: colors.$change-password-form-btn-primary-text-color;
      border: none;
      margin-top: 18px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        transition: 450ms;
        background-color: colors.$change-password-form-btn-hover-background-color;
      }

      &:not(:hover) {
        transition: 750ms;
      }
    }
  
    .error-message {
      color: colors.$change-password-form-error-message-text-color;
      margin-top: 10px;
      text-align: center;
    }
  }
  