.toggle-icon-container {
    padding: 0px 8px;
    height: 24px;
    
}

.toogle-icon-img{
    cursor: pointer;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}

.border-left{
    border-left: 1px solid #4a5568
}