@use './../../colors';
@use './../../mixins';

.contact-form-date-input{
    width: 155.6px;
    @include mixins.flexDispaly($flex-direction: column, $align-items: start);
}

.contact-form-date-input label{
    @include mixins.text($font-weight: 600);
}

.contact-form-date-input input{    
    @include mixins.flexDispaly($flex-direction: column);
    @include mixins.addBorder($color: colors.$contact-input-border-color);
    @include mixins.text($font-family: "Cabin", $font-size: 16px, $line-height: 22px, $color: colors.$contact-input-filed-primary-text-color);
    outline: none;
    padding: 6px 8px;
    background-color: colors.$windows-background-primary-color;
    border-radius: 5px;
    margin-top: 4px;
    font-feature-settings: "clig" off, "liga" off;
}

.contact-form-date-input input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

@media screen and (max-width: 520px) {

    .contact-input-container{
      label{
        font-size: 16px;
      }
      input{
        font-size: 14px;
      }
    }
  
  }